.post-container {
    display: flex;
    align-items: flex-start;
    
  }
  
  .left-sidebar {
    width: 15%;
 
    padding-right: 10px; 
    height: 100vh;
  }
  
  .post-form {
    width: 60%;
    padding: 0 10px; 
    height: 100vh;
  }
  
  .right-sidebar {
    width: 25%;
    
    padding-left: 10px; 
    height: 100vh;
  }
  